@{
    ViewData["Title"] = "Explore";
}

<div class="container" style="margin-top:40px">

    <div class="row">
        <div class="col-md-auto">
            <h1>Connect to Room!</h1>
            <p>If you have the room id you can connect to an existing room and you can estimate your stories</p>
            <div class="row mb-5">
                <!-- Grid column -->
                <div class="col-md-6">
                    <!-- Default input -->
                    <label for="exampleForm2">Your name</label>
                    <input placeholder="Your name" type="text" class="form-control">
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-6">

                    <!-- Placeholder input -->
                    <label for="inputPlaceholderEx">Room id</label>
                    <input placeholder="Room id" type="text" class="form-control">

                </div>
            </div>
            <button type="button" class="btn btn-dark pull-right">Go inside</button>
        </div>

        <div class="col-md-3">
            <h1>Explore!</h1>
            <p>This application is created with ASP Core 5 and Andy X Streaming Platform</p>
        </div>
    </div>
    <h2>Why this project exists!</h2>
    <p>
        When we are working remote, all the time we struggle to estimate our storys and start cheating! This idea started from there when we plan or grooming new user stories using scrum framework of agile now we can estimate, discuss more and have fun!
        This idea comed to me in one of our planning, thanks Consumption Team.
    </p>

</div>